 <div >
 <div class="panel panel-default" style="width:75%">
    <!-- Default panel contents -->
    <div class='panel-heading'>Portfolio Graph</div>
    <div class='panel-body'>
<div class="graphPanel"> 
     <kendo-chart [categoryAxis]="{ categories: categories }">
            <kendo-chart-title text="Gross domestic product growth /GDP annual %/"></kendo-chart-title>
            <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
            <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
            <kendo-chart-series>
                <kendo-chart-series-item *ngFor="let item of series"
                    type="line" style="smooth" [data]="item.data" [name]="item.name">
                </kendo-chart-series-item>
            </kendo-chart-series>
        </kendo-chart>
</div>
    <div style="width:100%;clear:both">
    <kendo-tabstrip>
        <kendo-tabstrip-tab [title]="'Tab 1 Title'" [selected]="true">
          <template kendoTabContent>
       <p>Tab 1 Contents</p>
          </template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Tab 2 Title'">
          <template kendoTabContent>
            <p>Tab 2 Content</p>
          </template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Tab 3 Title'">
          <template kendoTabContent>
            <p>Tab 3 Content</p>
          </template>
        </kendo-tabstrip-tab>
      </kendo-tabstrip>
      </div>
    </div>
 </div>
 </div>